@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1)
  {
    /* Media query for laptops*/
    ul.Nav_bar{
      font-family: 'Times New Roman', Times, serif;
      height: 80px;
      list-style: none;
    }
    
    .Nav_bar{
      font-family: 'Times New Roman', Times, serif;
      height: 80px;
      list-style: none;
    }
     
    .nav_bar li ul{
      display: inline-block;
      padding: .5cm;
      text-align: center;
    }
    li{
      font-size: larger;
      font-weight: bold;
    }

    a:link, a:visited, a:hover, a:active{
      text-decoration: none;
      color: white;
    }
    nav.nav_bar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      overflow: hidden;
      background-color: rgb(69,26,26);
      width: 100%;
      padding:0;
      margin-left: 0px;

    }
  }


